# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
myenv/  # あなたの仮想環境フォルダ名
venv/
env/
.venv/
.env.*
!.env.example # .env.example は含めたい場合

# Environment variables
.env # .env ファイルそのもの

# VSCode
.vscode/